<li> {{#link-to 'question' question.id}} <span class="boldText"> {{questionAndAuthor}} </span> {{/link-to}}
  <br>
  <button class="btn btn-success" {{action 'addToFavorites' question}}> Add to favorites </button>
</li>
  <hr class="short">
