<li> {{#link-to 'question' question.id}}{{question.text}} {{/link-to}}
  {{#if isAuthorShowing}}
    <p> {{question.author}} </p>
  {{else}}
  <br>
    <button class="btn btn-warning" {{action 'authorShow'}}> Show Author </button>
  {{/if}}
</li>
