.boldText {
font-size: 22px;
font-weight: bold;
font-family: sans-serif;

}

.lessBold {
font-size: 18px;
font-weight: lighter;
font-family: sans-serif;

}

.colorful {
  color: maroon;
}

body {
  background-color: black;
}

p, h1, h2, h3, li {
  color: white;
}

.authorText {
  color: maroon;
}

li {
  list-style: decimal-leading-zero;
}

.short {
  width: 75%;
  border-color: pink;
  padding-top: 1%;
}

.btn {
  font-size: 10px;
  background-color: gray;
}

.jumbotron {
  background-image: url(http://www.walkinggospel.com/wpcontent/uploads/2014/09/Q-and-A.jpg);
  background-repeat:repeat-x;
}

.glyphicon {
  color: orange;
  font-size: 22px;

}
.glyphicon2 {
  color: yellow;
  font-size: 22px;

}

#border {
  border-style: inset;
}
#border2 {
  border-style: inset;
  border-right: none;
  border-top: none;
  border-bottom: none;
}

#border3 {
  border-style: inset;
  width: 27%;
}

.red {
  color: red;
}

.admin {
  color: red;
  font-size: 14px;
}

.favorites {
  color: blue;
}

.favoritesBorder {
  border: 3px;
  border-style: solid;
  border-color: black;
  width: 100%;
  padding-top: .51%;
  padding-right: 4%;
  border-right-style: none;
  border-left-style: none;
  overflow: scroll;
}

.shifter {
  padding-right: 10%;
}

#spacing {
  width: 22%;
}

#border4 {
  border-style: inset;
}
#border5 {
  border-style: inset;
  width: 555px;
  float:left;
  border-left-style: none;
  border-top-style: none;
  border-color: gray;
}
