<center> <div>
  <h1> About this site: </h1>
  <br>
  <h3 class="spacer"> This site was created as an assignment from the Epicodus Code School in downtown Portland. This was a lesson in using Ember and Javascript, as well as firebase.
  </h3>
</div> </center>
