<header class= "jumbotron">
<br>
<br>
<br>
<br>
<br>
<br>
<div class="favoritesBorder">
  {{display-favorites}} <br>
</div>
</header>
<div class = "container" id="shifter">
  {{outlet}}
</div>

<hr>

<footer>
<center> <h3 class="lessBold"> Site by Jacob Steinberg - 2016 </h3> </center>
</footer>
